{% extends "base.html" %}
{% load static %}

{% block title %}
  Posts
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/list.css" %}" />
{% endblock %}

{% block content %}
  <section id="all-posts">
    <h2>All Posts</h2>

    <ul>
      {% include "blog/partials/post.html" %}
      {% include "blog/partials/post.html" %}
      {% include "blog/partials/post.html" %}
      {% include "blog/partials/post.html" %}
      {% include "blog/partials/post.html" %}
    </ul>
  </section>>
{% endblock %}